footer{
    font-family: 'Montserrat', sans-serif;
    background-color:#f5c3c5;
    clear: both;
    color:white;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
    box-shadow: 0 0 10px black;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}