@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size: 100%;
}

#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;

}

nav {
	background: #CC3910;
	float: left;
	width: 160px;
	color: #000;
}

ul {
	list-style-type: none;
}

a {
	color: #F1F2C0;
	text-decoration: none;
}

section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;

}

aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media screen and (max-width: 800px) {
	#contenedor {

		background: #8FA68E;
		display: flex;
		flex-direction: column;
		width: 800px;
		border: black 1px solid;
	}

	nav {
		background-color: #ffcc66;
		border: black 1px solid;
		width: 800px;
	}

	a{
		color: #000;
	}

	section {
		background-color: #f2f2c0;
		border: black 1px solid;
		margin: 0 0 0 0;
		width: 800px;
	}

	aside {
		background-color: #cdc59e;
		border: black 1px solid;
		width: 800px;
	}
}