/*font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;*/

header{
    display: flex;
    background-color:#f5c3c5 ;
    justify-content: space-between;
    overflow: auto;
    height: 70px;
    align-items: center;
    padding: 10px;
    box-shadow: 0 0 5px black;
    border-radius: 0px 0px 10px  ;    
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 25px;    
}
nav ul{
    list-style: none;
    margin: 50px;
    display: flex;
}

nav ul li a{   
    color: white;
    text-decoration: none;
    padding:  50px;
    margin-bottom: 30px;
    display: block;
    text-align: center;
    background-color:#f69dac;
    box-shadow: 0 0 5px black;
    border-radius: 5px 10px 5px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}
ul li a:hover{
       background-color: rgba(0,0,0,0.3);
}

/*slider*/
.container{
    display: flex;
    justify-content: center;
    overflow: auto;
    padding-top: 20px;
    
}
.slider-wrapper{
    position: relative;

    width: 1500px;
    height: 850px;
    margin: 0 auto;
}
.slider{
   display: flex;
   aspect-ratio: 16 / 9; 
   overflow-x: auto;
   scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
   box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
   border-radius: 0.25rem;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    
}
.slider-nav a{
    background-color: white;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    opacity: 2;
    transition: opacity ease 250ms;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0%,0%,0%, 1);
    
}
.slider-nav a:hover{
    opacity: 1;

}
/*acerca*/
.acercade{
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    overflow: auto;
}
.acerca{
    font-size: 40px;
    color: #777576;
    font-family: 'Montserrat', sans-serif;
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
   
}

.containeracerca{
    display: flex;
    justify-content: center;
}
.imgacerca{
   
    text-decoration: none;
    padding:  50px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px black;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.infoAcerca{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;
    padding-right: 600px;
  
   
}
footer{
    font-family: 'Montserrat', sans-serif;
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
    box-shadow: 0 0 10px black;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}